.clock {
    position: relative;
    margin-top: 5rem;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #010101;
    font-size: 30px;
    font-family: Orbitron;
    letter-spacing: 7px;
    margin-left: 2rem;
}

#pie {
    background-color: rgba(128, 128, 128, 0.050);
    width: fit-content;
    border-radius: 20px;
    padding: 5px;
    color: rgba(0, 94, 255, 0.200);
    font-weight: bold;font-size: small;
    margin-left: 2rem;
}

.weather {
    margin-top: 6rem;
    margin-left: 2rem;
    width: 20rem;
}
